html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  height: 100vh;
  background-image: url("/images/v935-aum-16.jpg");
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  justify-content: center;
}

a {
  color: #146aff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-decoration-color: #146aff75;
}

img {
  max-width: 100%;
  display: block;
}
